body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;

}

body {
    font-family: Georgia;
    color: #252525;

}

/* Header */

header.menu {
    background-color: #252525;
    padding: 15px 0;
}

header .menu-container {
    max-width: 960px;
    margin: 0 auto;

}

header .menu-container::after, header .menu-container::before {
    content: '';
    display: table;
    clear: both;
}

header a.menu-logo {
    display: block;
    float: left;
    margin-left: 10px;
}

header .menu-nav {
    float: right;
    margin-right: 10px;
}

header .menu-nav li {
    display: inline-block;
}

header .menu-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.125em;
}

/* Intro */

main.intro {
    background: url('../images/bg-intro.jpg') no-repeat center center;
    background-size: cover;
    padding: 150px 0;
    text-align: center;
    color: #fff;
}

main.intro h1 {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

main.intro h1::after {
    content: '';
    display: block;
    width: 20px;
    height: 4px;
    background-color: #fff;
    margin: 10px auto;
}

main.intro p {
    font-style: italic;
    font-size: 18px;
}

/* Sobre */

section.sobre {
    padding: 60px 0;
}

section.sobre .sobre-container {
    max-width: 960px;
    margin: 0 auto;
}

section.sobre .sobre-container::after, section.sobre .sobre-container::after {
    content: '';
    display: table;
    clear: both;
}

section.sobre h2 {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 60px;
}

section.sobre .sobre-item {
    width: 460px;
    float: left;
    margin: 0 10px
}

section.sobre .sobre-item img {
    display: block;
    max-width: 100%;
}

section.sobre .sobre-item h3 {
    font-size: 2.25em;
    line-height: 1em;
    background-color: #252525;
    width: 220px;
    color: #fff;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    padding: 5px 0 10px 0;
    top: -25px;
    position: relative;
}

section.sobre > p {
    font-size: 1.125em;
    line-height: 1.4em;
    font-style: italic;
    text-align: center;
    margin: 20px auto;
    max-width: 460px;
}
