body, p, h1, ul, li {
	padding: 0px;
	margin: 0px;
}

li {
	list-style: none;
}

body {
	font-family: Georgia, serif;
	color: #252525;
	background: #e7e4d8;
}

* {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
}

/*Header*/

.header {
	background: #d6d3c8;
	padding: 20px;
}

.header::after, .header::before {
	content: '';
	display: table;
	clear: both;
}

.header-logo {
	float: left;
}

.header-menu ul {
	float: right;
}

.header-menu li {
	display: inline-block;
}

.header-menu li a {
	color: #252525;
	font-size: 1.125em;
	padding: 0 10px;
}

.header-menu li:first-child a {
	padding-left: 0px;
}

/* Main */

/* Side nav */

.side-nav {
    width: 300px;
    background-color: #252525;
    float: left;
    height: 95vh;
}

.side-nav li a {
    display: block;
    color: white;
    border-bottom: 2px solid #484846;
    font-size: 1.125em;
    padding: 20px;
}

.side-nav li a::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 5px;
    margin-right: 15px;
    background-image: url('../img/icones.png');
    
}

.nav-contabilidade::before {
    background-position: 0 -24px;
}

.nav-produtos::before {
    background-position: 0 calc(-24px * 2);
}

.nav-paginas::before {
    background-position: 0 calc(-24px * 3);
}

.nav-plugins::before {
    background-position: 0 calc(-24px * 4);
}

.nav-formularios::before {
    background-position: 0 calc(-24px * 5);
}

.nav-hospedagens::before {
    background-position: 0 calc(-24px * 6);
}
