* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #252525;
    font-family: Georgia, serif;
}

img {
    max-width: 100%;
}

/* Menu */

.header-informacoes {
    font-size: 0.875em;
    background-color: #d6d3c8;
    padding: 5px 0;
    text-align: center;
}

.header-logo img {
    display: block;
    margin: 40px auto;
}

.header-menu {
    border-top: 3px solid #d6d3c8;
    border-bottom: 3px solid #d6d3c8;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 40px;
}

.header-menu ul li{
    display: inline-block;
    /* para poder utilizar padding em elementos inline */
}

.header-menu ul li a {
    display: block;
    padding: 5px 10px 5px 0;
    font-size: 1.125em;
}

.header-menu ul li a::before {
    content: '•';
    padding-right: 10px;
}

.header-menu ul li:nth-child(1) a::before {
    content: '';
}

/* Conteúdo */

.container {
    max-width: 960px;
    margin: 0 auto;
}


.container::after, .container::before {
    content: '';
    display: table;
    clear: both;
}

/* Filtro */

.filtro {
    background: #e7e4d8;
    border: 3px solid #d6d3c8;
    width: 300px;
    margin: 0 10px;
    padding: 20px;
    float: left;
}

.filtro h2 {
    font-size: 1.125em;
    padding: 10px 0;
}

.filtro ul {
    border-top: 3px solid #c0beb4;
    border-bottom: 3px solid #c0beb4;
    padding: 10px 0;
}

.filtro li {
    font-style: italic;
    font-size: 1.125em;
    line-height: 2;
}

.filtro li::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #c0beb4;
    float: right;
    margin-top: 5px;
}

@media (min-width: 740px) and (max-width: 980px) {
    .container {
            max-width: 720px;
    }

    .filtro {
            width: 220px;
    }

}

@media (max-width: 739px) {
    .container {
        max-width: 300px;
    }
    
    .filtro {
        display: none;
    }
}


.sabor {
    overflow: hidden;

}

.sabor span {
    text-indent: -200px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: currentColor;
    vertical-align: middle;
}

span.sabor-3 {
    color: #492901;
    box-shadow: 20px 0 0 0, 40px 0 0 0;
}

span.sabor-4 {
    color: #c17139;
    box-shadow: 20px 0 0 0, 40px 0 0 0, 60px 0 0 0;
}

span.sabor-5 {
    color: #d7a54d;
    box-shadow: 20px 0 0 0, 40px 0 0 0, 60px 0 0 0, 80px 0 0 0;
}

/* Produtos */

.produtos {
    width: 620px;
    margin: 0 10px;
    float: right;
}

.produtos h1 {
    font-size: 3em;
    font-weight: normal;
}

.produtos li {
    width: 300px;
    float: left;
}

.produtos li:nth-child(even) {
    margin-left: 20px;
}

.produtos li img {
    display: block;
    max-width: 100%;
    border: 3px solid #fff;
    box-shadow: 0 0 0 3px #252525;
    margin: 40px 3px 0 3px;
}

.produtos li span {
    background: #e7e4d8;
    padding: 10px;
    font-size: 0.875em;
    font-weight: bold;
    position: relative;
    top: -15px;
}

.produtos li h2 {
    font-size: 0.875em;
    font-weight: normal;
}

@media (min-width: 740px) and (max-width: 980px) {
    .produtos {
        width: 460px;
    }
    .produtos li {
        width: 220px;
    }
}

@media (max-width: 739px) {
   .produtos {
       width: 300px;

   }
   .produtos li {
       width: 140px;
   }
}

footer {
    background-color: #e7e4d8;
    text-align: center;
    padding: 60px 0;
    font-size: 1.125em;
    line-height: 1.4em;
    margin-top: 80px;
}















































































